.sub-menu{
  background: $dark-bg-color;
  color: $white-color;

  .number-link{
    color: $primary-color;
    text-decoration: none;
  }
}
.navbar{
    background: $light-bg-color;

  .navbar-brand{
    img{
      width:70px;
      height:auto;
    }
  }
  .nav-item{
    padding: 0 1rem;

    .nav-link{
      font-family: $font-family-poppins;
      font-size: $def-font-size;
      color: $dark-color;
      font-weight: 600;
      letter-spacing: 1px;

      &:hover{
        color: $primary-color;
      }
    }
  }
}

.modal-content{
  margin-top: 22vh;
}

.bg-dark{
  background: $dark-bg-color;
}
